:root{
    --main-radius:0.5rem;
}

.container{
display: grid;
height:100vh;
grid-template-columns: 15rem 1fr 1fr 1fr 1fr 1fr;
grid-template-rows:1fr 1fr 1fr 1fr;
grid-template-areas: "nav nav nav nav nav nav"
"sidebar text text text text text"
"sidebar content1 content2 content3 content4 content5"
"sidebar footer footer footer footer footer";

grid-gap: 2rem;
font-weight: 800;
color:aliceblue;
text-align: center;

}
.container *{
    padding-top: 1rem;
    border-radius: var(--main-radius);
}
nav{
    background: #FFB41E;
    grid-area:nav;
    
}
.text{
    background: #5598fd;
    grid-area:text;
}
.sidebar{
    background: #21d168;
    grid-area:sidebar;
}
.card{
    background: #0e5d88;
}
#content1{
    grid-area:content1;

}
#content2{
    grid-area:content2;
    
}
#content3{
    grid-area:content3;
    
}
#content4{
    grid-area:content4;
}
#content5{
    grid-area:content5;
}
footer{
    background: #5598fd;
    grid-area:footer;
}

@media only screen and (max-width:80rem){
    .container{
        grid-template-columns: 15rem 1fr 1fr;
grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-areas: "nav nav nav"
"sidebar text text"
"sidebar content1 content2"
"sidebar content3 content4"
"sidebar footer footer";
    }
    #content5{
        display: none;
    }
}

@media only screen and (max-width:40rem){
    .container{
        grid-template-columns: 1fr;
grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-areas: "nav"
"sidebar"
"text"
"content1"
"content2"
"content3"
"content4"
"content5"
"footer";
    }
    #content5{
        display: initial;
    }
}